.cart {
  background-color: #dcae01;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 10px;
  z-index: 999;
}

.cart > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart > .subTotal {
  text-align: right;
  padding: 10px;
}

.cart > .subTotal hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  padding: 0;
}

.cart > .subTotal p {
  margin: 5px 0;
}
